body {
  background-color: #eee;
  font-family: 'Muli', sans-serif;
}
.escrow{
  width: 100%;
}
.container{
  width: 80%;
  margin: 0 auto;
}

.contract, .existing-contracts {
  margin: 20px;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.contract{
  width: 40%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10px;
}
.existing-contracts{
  margin-top: 3rem;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}
.contract-info{
  font-weight: 600;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 2px 2px 3px gray;
  transition: all ease-in 0.3s;
}
.button:hover{
  box-shadow: 4px 4px 5px gray;
}
.button:disabled{
  opacity: 0.7;
}
.existing-contract{
  background-color: #eee;
  padding: 10px;
  margin: 20px;

}


/* color: #5aa75a; */